[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "caTools"]
	path = caTools
	url = https://github.com/cran/caTools
	shallow = true
	registered = true
[submodule "EMMAgeo"]
	path = EMMAgeo
	url = https://github.com/coffeemuggler/emmageo
	shallow = true
	registered = true
[submodule "eseis"]
	path = eseis
	url = https://github.com/coffeemuggler/eseis
	shallow = true
	registered = true
[submodule "sandbox"]
	path = sandbox
	url = https://github.com/coffeemuggler/sandbox
	shallow = true
	registered = true
